2.1. Product Perspective
- Overview of what this will do
2.2. Product Functions (This will be where the bulk of the points are)
- Detailed description of functionality
- This will be your longest section
- Remember this will be used to define your functional tests
2.3. User Classes and Characteristics
- For each type of user of this system list them and their characteristics
2.4. Operating Environment
- Where will your program run and what are system requirements
2.5. Design and Implementation Constraints
- What constraints have you incorporated into your project? These are nonfunctional
requirements
2.6. Assumptions and Dependencies
- Have you made any assumptions